body {
  background: #302F2C;
}

.thumb-container { /*real small pp */
  margin: 0 auto;
  width: 1200px;
  padding-left: 0;
  font-size: 0;
}

.thumb {
  display: inline-block;
  width: 256px;
  font-size: 13px;
  max-height: 256px;
  margin: 10px 34px;
}

.pic-container {
  position: relative;
  z-index: 1;
}

.close-button {
  position: absolute;
  background: url("../baseline-clear-24px.svg");
  background-size: contain;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  z-index: 3;
}

.pic {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 10px 10px #020202;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #F2F2F2;
  text-align: center;
}

$twidth: 324px; // width of one thumbnail
$trat: 1.05; // max ratio of page to content

@media screen and (max-width: 2 * $twidth * $trat) {
  .thumb-container {
    width: $twidth;
  }
}

@for $i from 2 through 4 {
  @media screen and (min-width: $i * $twidth * $trat) and (max-width: ($i + 1) * $twidth * $trat) {
    .thumb-container {
      width: $i * $twidth;
    }
  }
}
