body {
  //background: #302F2C;
  background: url("images/back.jpg") no-repeat fixed;
  background-size: 100% 100%;
}

.thumb-container {
  width: 1200px;
  padding-left: 0;
  font-size: 0;
  margin: 40px auto 0;
}

body::-webkit-scrollbar {
  display: none;
}

.thumb {
  display: inline-block;
  width: 256px;
  font-size: 13px;
  max-height: 256px;
  margin: 20px 34px;
}

.pic-container {
  position: relative;
  z-index: 1;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.favicon {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
}

.close-button {
  position: absolute;
  background: url("images/black-close-X.svg");
  background-size: contain;
  outline: none;
  border: none;
  padding: 0;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  z-index: 3;

  &:hover {
    border-radius: 50%;
    border: 3px #020202;
  }
}

.pic {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 10px 10px #020202;
}

.title-container {
  padding: 0 9px;
  margin-top: 9px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.favicon-title {
  display: none;
  margin: 0 4px 0 0;
  height: 13px;
}

.title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #F2F2F2;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.highlight-thumb {
  transform: scale(1.1);
}

#template {
  display: none;
}

button {
  padding: 0;
  z-index: 2000000001;
  outline: none;
  border: none;
  cursor: default;
}

#close-button {
  background: url("images/delete-button.png");
  background-size: contain;
  position: fixed;

  top: 11px;
  right: 7px;
  width: 29px;
  height: 29px;
}

#scan-button {
  background: url("images/scan.svg");
  background-size: contain;
  position: fixed;

  top: 52px;
  right: 8px;
  width: 26px;
  height: 22px;
}

#help-button {
  background: url("images/help.svg");
  background-size: contain;
  position: fixed;

  top: 87px;
  right: 14px;;
  width: 14px;
  height: 22px;
}

#denied-icon {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  opacity: 0;
}

#denied-icon.fade {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


$tWidth: 324px; // width of one thumbnail
$tRat: 1.05; // max ratio of page to content

@media screen and (max-width: 2 * $tWidth * $tRat) {
  .thumb-container {
    width: $tWidth;
  }
}

@media screen and (min-width: 5 * $tWidth * $tRat) {
  .thumb-container {
    width: 5 * $tWidth;
  }
}

@for $i from 2 through 4 {
  @media screen and (min-width: $i * $tWidth * $tRat) and (max-width: ($i + 1) * $tWidth * $tRat) {
    .thumb-container {
      width: $i * $tWidth;
    }
  }
}
